.LayerSelector {
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 991;
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
    border: 1px solid;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LayerSelector.isInverted {
    background-color: black;
    border: 1px solid white;
}
.LayerSelector svg{
    width: 22px;
}