.Logo {
    font-family: 'helvetica';
    font-weight: bold;
}

.Logo__noPadding {
    padding: 0 !important;
}

.Logo__white {
    color: white;
}

.Logo__blue {
    color: var(--cl-red);
}


.Logo__xsmall {
    font-size: var(--fs-10);
    padding: var(--sp-8);
}

.Logo__small {
    font-size: var(--fs-16);
}

.Logo__medium {
    font-size: 22px;
    padding: var(--sp-8);
}
